body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    color: #495e35;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth; /* Add smooth scrolling for the entire page */
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: #f9f9f9;
    font-size: 2rem;
}

.intro {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: top; /* Centers the image vertically */
    overflow: hidden; /* Prevents any potential overflow */
}

.intro img {
    width: 75%; /* Makes the image x% of the width of the container */
    height: auto; /* Keeps the aspect ratio intact */
    display: block; /* Ensures the image is treated as a block element */
}

.pic {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    height: 100vh; /* Ensures the container takes full viewport height */
    overflow: hidden; /* Prevents any potential overflow */
    background: #495e35; /* Your desired background color */
}

.pic img {
    width: 60%; /* Makes the image 60% of the width of the container */
    height: auto; /* Keeps the aspect ratio intact */
    display: block; /* Ensures the image is treated as a block element */
}

.scrollytelling {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.panel {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    background: #f1f0e2;
    opacity: 0; /* Initially hide the sections */
    transition: opacity 1s ease-out, transform 0.5s ease-out; /* Smooth transitions for opacity and movement */
}

.panel.visible {
    opacity: 1; /* Make the section visible */
    transform: translateY(0); /* Move the section into place */
}

#wedding-1 { background: #f9f9f9; }
#wedding-2 { background: #E4C7B8; }
.rsvp-section { background: #f9f9f9; }

iframe {
    width: 80%;
    height: 600px;
    border: none;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

@media (max-width: 768px) {
    iframe {
        width: 100%;
    }
}
